<div class="container mt-4">
  <h2>Store List</h2>

  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>

    <div class="mb-2 text-end">
    <button class="btn btn-success" (click)="addStore()">
      <i class="bi bi-plus-circle"></i> Add Store
    </button>
  </div>
  
  <table *ngIf="stores.length > 0" class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Created By</th>
        <th>Created On</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let store of stores">
        <td>{{ store.StoreName }}</td>
        <td>{{ store.CreatedBy }}</td>
        <td>{{ store.CreatedOn | date: 'short' }}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="viewStock(store.StoreName)">
            <i class="bi bi-box-seam"></i> View Stock
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="stores.length === 0 && !error">No stores found.</p>
</div>
